[submodule "blog/themes/poison"]
	path = blog/themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "hugo_blog/themes/poison"]
	path = hugo_blog/themes/poison
	url = https://github.com/lukeorth/poison.git
